/* Game Screen Outer Top Pane Container */

.outer-top-pane-container
{
	-fx-pref-width: 800px;
	-fx-pref-height: 150px;
	-fx-max-width: 800px;
	-fx-max-height: 150px;
	-fx-alignment: center;
}

/* Return To Main Menu Dialog Button */

.return-to-main-menu-dialog-button
{
	-fx-background-image: url("../../../back-arrow-icon.png");
}


.return-to-main-menu-dialog-button:hover
{
	-fx-background-image: url("../../../back-arrow-icon-hover.png");
}

/* Game Screen Inner Top Pane Container */

.inner-top-pane-container
{
	-fx-pref-width: 800px;
	-fx-pref-height: 95px;
	-fx-max-width: 800px;
	-fx-max-height: 95px;
	-fx-spacing: 50px;
	-fx-alignment: center;
}

/* Timer Container Styling */

.timer-container 
{
	-fx-pref-width: 200px;
	-fx-pref-height: 50px;
	-fx-max-width: 200px;
	-fx-max-height: 50px;
	-fx-spacing: 10px;
	-fx-alignment: center;
}

/* Timer Label */

.timer-label
{
	-fx-font-family: futura;
	-fx-font-size: 15px;
	-fx-alignment: center-left;
}

/* Time Penalty Label */

.time-penalty-label
{
	-fx-font-size: 15px;
}

.time-penalty-label--hidden
{
	-fx-text-fill: #ebf4fa;
}

.time-penalty-label--shown
{
	-fx-text-fill: #ff726f;
}

/* Game Screen Bottom Pane Container */

.bottom-pane-container
{
	-fx-pref-width: 800px;
	-fx-pref-height: 150px;
	-fx-max-width: 800px;
	-fx-max-height: 150px;
	-fx-spacing: 20px;
	-fx-alignment: center;
}	

/* Number Button */

.number-button
{
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-max-width: 50px;
	-fx-max-height: 50px;
	-fx-font-size: 20px;
}

/* Clicked Number Button */

.clicked-number-button
{
	-fx-background-color: #006a4e;
}

/* Game Screen Left Pane Container */

.left-pane-container
{
	-fx-pref-width: 175px;
	-fx-pref-height: 500px;
	-fx-max-width: 175px;
	-fx-max-height: 500px;
	-fx-spacing: 20px;
	-fx-alignment: center;
}

/* Clicked Writing Tool */

.clicked-writing-tool
{
	-fx-background-color: #006a4e;
}

/* Pen Writing Tool */

.pen
{
	-fx-font-size: 20px;
 	-fx-text-fill: #000000;
}

/* Pencil Writing Tool */

.pencil
{
	-fx-font-size: 12px;
 	-fx-text-fill: #999999;
}

/* Game Screen Right Pane Container */

.right-pane-container
{
	-fx-pref-width: 175px;
	-fx-pref-height: 500px;
	-fx-max-width: 175px;
	-fx-max-height: 500px;
	-fx-spacing: 20px;
	-fx-alignment: center;
}

/* Game Screen Center Pane Container */

.center-pane-container 
{
	-fx-pref-width: 450px;
	-fx-pref-height: 450px;
	-fx-max-width: 450px;
	-fx-max-height: 450px;
	-fx-alignment: center;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
}

/* Sudoku Block (Grid) Container */

.sudoku-block-container
{
	-fx-pref-width: 150px;
	-fx-pref-height: 150px;
	-fx-max-width: 150px;
	-fx-max-height: 150px;
	-fx-border-color: #000000;
	-fx-border-width: 1px;
}

/* Sudoku Cell */

.text-field
{
	-fx-pref-width: 50px;
	-fx-pref-height: 50px;
	-fx-max-width: 50px;
	-fx-max-height: 50px;
	-fx-alignment: center;
	-fx-font-family: futura;
	-fx-background-color: #ffffff;
	-fx-border-width: 0.5px;
}

.text-field:focused 
{
	-fx-faint-focus-color: transparent;
	-fx-focus-color: transparent;
}

.pen-cursor 
{
	-fx-cursor: url("../../../pen-icon-cursor.png");
}

.pencil-cursor 
{
	-fx-cursor: url("../../../pencil-icon-cursor.png");
}

.eraser-cursor 
{
	-fx-cursor: url("../../../eraser-icon-cursor.png");
}

/* Sudoku Cell Borders */

.top-left-border
{
	-fx-border-color: transparent #aaaaaa #aaaaaa transparent;
}

.top-middle-border
{
	-fx-border-color: transparent #aaaaaa #aaaaaa #aaaaaa;
}

.top-right-border
{
	-fx-border-color: transparent transparent #aaaaaa #aaaaaa;
}

.left-border
{
	-fx-border-color: #aaaaaa #aaaaaa #aaaaaa transparent;
}

.no-border
{
	-fx-border-color: #aaaaaa #aaaaaa #aaaaaa #aaaaaa;
}

.right-border
{
	-fx-border-color: #aaaaaa transparent #aaaaaa #aaaaaa;
}

.bottom-left-border
{
	-fx-border-color: #aaaaaa #aaaaaa transparent transparent;
}

.bottom-middle-border
{
	-fx-border-color: #aaaaaa #aaaaaa transparent #aaaaaa;
}

.bottom-right-border
{
	-fx-border-color: #aaaaaa transparent transparent #aaaaaa;
}

/* Incorrect Cell Value */

.incorrect-cell-value
{
	-fx-text-fill: #ff726f;
}

/* Correct Cell Occurrence */

.correct-cell-occurrence
{
	-fx-background-color: #e2e7ed;
}

/* Incorrect Cell Occurrence */

.incorrect-cell-occurrence
{
	-fx-background-color: #ffe6e5;
}

/* Clicked Sudoku Cell */

.clicked-sudoku-cell
{
	-fx-background-color: #bbdefb;
}

/* Row Column Block Cell */

.row-col-block-cell
{
	-fx-background-color: #e2e7ed;
}

/* Hint Cell */

.hint-cell 
{
	-fx-background-color: #e2e7ed;
}

/* Win Dialog Title */

.win-dialog-title
{
	-fx-font-size: 70px;
}

/* Win Dialog Timer Container */

.win-dialog-timer-container
{
	-fx-alignment: center;
	-fx-spacing: 25px;
}

/* Win Dialog Timer Description Container */

.timer-description-container
{
	-fx-spacing: 0px;
	-fx-alignment: baseline-center;
}

/* Win Dialog Timer Description Label */

.timer-description-label
{
	-fx-font-size: 15px;
}

/* Win Dialog Puzzle Difficulty Label */

.puzzle-difficulty-label
{
	-fx-font-size: 25px;
	-fx-font-weight: bold;
}

/* Win Dialog Timer Label */

.win-dialog-timer-label
{
	-fx-font-size: 25px;
}

/* Win Dialog Button */

.win-dialog-button
{
	-fx-pref-width: 200px;
	-fx-max-width: 200px;
}