.open-dialog-button-container {
  -fx-spacing: 690px;
}

.exit-application-dialog-button {
  -fx-background-image: url('./img/exit-application-icon.png');
}

.exit-application-dialog-button:hover {
  -fx-background-image: url('./img/exit-application-icon-hover.png');
}

.info-dialog-button {
  -fx-background-image: url('./img/info-icon.png');
}

.info-dialog-button:hover {
  -fx-background-image: url('./img/info-icon-hover.png');
}

.main-menu-inner-container {
  -fx-alignment: center;
  -fx-max-height: 745px;
  -fx-max-width: 800px;
  -fx-pref-height: 745px;
  -fx-pref-width: 800px;
  -fx-spacing: 35px;
}

.main-menu-title {
  -fx-font-size: 70px;
}

.start-button {
  -fx-background-color: #009d74;
  -fx-font-size: 25px;
  -fx-max-height: 50px;
  -fx-max-width: 400px;
  -fx-pref-height: 50px;
  -fx-pref-width: 400px;
  -fx-text-fill: #ffffff;
}

.start-button:hover {
  -fx-background-color: #006a4e;
  -fx-cursor: hand;
}

.info-dialog-content-container {
  -fx-spacing: 15px;
}

.info-dialog-row {
  -fx-max-width: 670px;
  -fx-pref-width: 670px;
  -fx-spacing: 10px;
}

.info-dialog-small-row {
  -fx-max-height: 30px;
  -fx-pref-height: 30px;
}

.info-dialog-large-row {
  -fx-max-height: 80px;
  -fx-pref-height: 80px;
}

.info-dialog-element-container {
  -fx-alignment: center;
  -fx-max-width: 150px;
  -fx-pref-width: 150px;
}

.info-dialog-difficulty-dropdown {
  -fx-background-color: #ffffff;
  -fx-border-color: #000000;
  -fx-border-radius: 3px;
  -fx-font-size: 12px;
  -fx-max-width: 100px;
  -fx-pref-width: 100px;
}

.info-dialog-instructions-container {
  -fx-alignment: center-left;
  -fx-max-width: 490px;
  -fx-pref-width: 490px;
}

.info-dialog-instructions-button {
  -fx-content-display: top;
  -fx-font-size: 12px;
  -fx-max-height: 80px;
  -fx-max-width: 80px;
  -fx-pref-height: 80px;
  -fx-pref-width: 80px;
}

.info-dialog-instructions-content {
  -fx-font-size: 12px;
  -fx-max-width: 490px;
  -fx-text-alignment: justify;
  -fx-wrap-text: true;
}

.info-dialog-number-button {
  -fx-font-size: 20px;
  -fx-max-height: 80px;
  -fx-max-width: 80px;
  -fx-pref-height: 80px;
  -fx-pref-width: 80px;
}

.info-dialog-inner-content-pane {
  -fx-background-color: transparent;
  -fx-max-height: 640px;
  -fx-max-width: 670px;
  -fx-pref-height: 640px;
  -fx-pref-width: 670px;
}
