.application-background {
  -fx-background-color: #ebf4fa;
  -fx-font-family: futura;
}

.open-dialog-button-container {
  -fx-alignment: center-left;
  -fx-max-height: 55px;
  -fx-max-width: 800px;
  -fx-padding: 25px 25px 12px 25px;
  -fx-pref-height: 55px;
  -fx-pref-width: 800px;
}

.open-dialog-button {
  -fx-background-color: transparent;
  -fx-background-repeat: no-repeat;
  -fx-background-size: contain;
  -fx-max-height: 30px;
  -fx-max-width: 30px;
  -fx-pref-height: 30px;
  -fx-pref-width: 30px;
}

.open-dialog-button:hover {
  -fx-cursor: hand;
}

/* Difficulty Container */

.difficulty-container {
  -fx-pref-width: 300px;
  -fx-pref-height: 50px;
  -fx-max-width: 300px;
  -fx-max-height: 50px;
  -fx-spacing: 15px;
  -fx-alignment: center;
}

/* Difficulty Label */

.difficulty-label {
  -fx-font-size: 15px;
}

/* Difficulty Dropdown */

.combo-box-base {
  -fx-pref-width: 150px;
  -fx-max-width: 150px;
  -fx-background-color: #ffffff;
  -fx-border-color: #000000;
  -fx-font-size: 15px;
  -fx-border-radius: 3px;
}

.combo-box-base:hover {
  -fx-cursor: hand;
  -fx-background-color: #eeeeee;
}

.combo-box-base:showing {
  -fx-background-color: #ffffff;
}

.combo-box-base .arrow-button .arrow {
  -fx-background-color: #000000;
}

.combo-box-popup .list-view {
  -fx-border-color: #000000;
  -fx-border-radius: 3px;
}

.combo-box-popup .list-view .list-cell {
  -fx-background-color: #ffffff;
  -fx-text-fill: #000000;
  -fx-border-radius: 3px;
}

.combo-box-popup .list-view .list-cell:hover {
  -fx-background-color: #eeeeee;
  -fx-cursor: hand;
}

.dialog-background {
  -fx-background-color: #000000;
  -fx-opacity: 0.75;
}

.dialog {
  -fx-background-color: #ebf4fa;
  -fx-background-radius: 4px;
}

.small-dialog {
  -fx-max-height: 300px;
  -fx-max-width: 500px;
  -fx-pref-height: 300px;
  -fx-pref-width: 500px;
}

.large-dialog {
  -fx-max-height: 700px;
  -fx-max-width: 700px;
  -fx-pref-height: 700px;
  -fx-pref-width: 700px;
}

.dialog-container {
  -fx-padding: 15px;
}

.close-button-container {
  -fx-alignment: center-left;
  -fx-max-height: 30px;
  -fx-pref-height: 30px;
}

.small-close-button-container {
  -fx-max-width: 470px;
  -fx-pref-width: 470px;
}

.large-close-button-container {
  -fx-max-width: 670px;
  -fx-pref-width: 670px;
}

.close-button {
  -fx-background-color: transparent;
  -fx-background-image: url('./img/close-window-icon.png');
  -fx-background-size: cover;
  -fx-max-height: 30px;
  -fx-max-width: 30px;
  -fx-pref-height: 30px;
  -fx-pref-width: 30px;
}

.close-button:hover {
  -fx-background-image: url('./img/close-window-icon-hover.png');
  -fx-cursor: hand;
}

.content-container {
  -fx-alignment: center;
  -fx-spacing: 40px;
}

.small-content-container {
  -fx-max-height: 240px;
  -fx-max-width: 470px;
  -fx-pref-height: 240px;
  -fx-pref-width: 470px;
}

.large-content-container {
  -fx-max-height: 640px;
  -fx-max-width: 670px;
  -fx-pref-height: 640px;
  -fx-pref-width: 670px;
}

.error-dialog-content-container {
  -fx-max-height: 270px;
  -fx-pref-height: 270px;
}

.dialog-title {
  -fx-font-size: 25px;
  -fx-text-alignment: center;
}

.small-dialog-title {
  -fx-max-width: 350px;
  -fx-wrap-text: true;
}

.error-dialog-title {
  -fx-max-width: 400px;
  -fx-wrap-text: true;
}

.button-container {
  -fx-alignment: center;
}

.multiple-option-button-container {
  -fx-spacing: 15px;
}

.dialog-button {
  -fx-background-color: #009d74;
  -fx-font-size: 20px;
  -fx-max-height: 40px;
  -fx-max-width: 100px;
  -fx-pref-height: 40px;
  -fx-pref-width: 100px;
  -fx-text-fill: #ffffff;
}

.dialog-button:hover {
  -fx-background-color: #006a4e;
  -fx-cursor: hand;
}

/* Game Button */

.game-button {
  -fx-background-color: #009d74;
  -fx-text-fill: #ffffff;
  -fx-font-family: futura;
  -fx-font-size: 15px;
}

.game-button:hover {
  -fx-cursor: hand;
  -fx-background-color: #006a4e;
}

/* Timer Buttoner */

.timer-button {
  -fx-pref-width: 30px;
  -fx-pref-height: 30px;
  -fx-max-width: 30px;
  -fx-max-height: 30px;
  -fx-background-size: cover;
  -fx-background-color: transparent;
}

.timer-button:hover {
  -fx-cursor: hand;
}

/* Pause Button */

.pause-button {
  -fx-background-image: url('./img/pause-icon.png');
}

.pause-button:hover {
  -fx-background-image: url('./img/pause-icon-hover.png');
}

/* Play Button */

.play-button {
  -fx-background-image: url('./img/play-icon.png');
}

.play-button:hover {
  -fx-background-image: url('./img/play-icon-hover.png');
}

/* General Icon Button */

.icon-button {
  -fx-content-display: top;
  -fx-pref-width: 100px;
  -fx-pref-height: 100px;
  -fx-max-width: 100px;
  -fx-max-height: 100px;
}
